.contenedor{
	margin: 10px 30px;
}

label{
	color: black;
	padding: 5px;
}

.icoIndex{
	width: 300px;
}

#icoIndex .icoIndex{
	color: black;
	background-color: #c7d2e2;
	padding: 5px 10px;
	border-bottom: 3px solid #c7d2e2;
	/*border-radius: 10px;*/
}

#icoIndex .icoIndex:hover{
	/*background: #3681bc;*/
	color: #143a85;
	border-bottom: 3px solid #143a85;
	transition: all .5s ease;
}

#ul-index{
	font-size: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 20px;
}

#ul-index a{
	text-decoration: none;
	color: black;
}

#ul-index a:hover{
	text-decoration: underline;
}

#icoIndex{
	display: flex;
	gap: 12px;
	justify-content: space-around;
	flex-direction: column;
	margin: 30px 0px;
	align-items: center;
	text-align: center;
}

.icoIndex i{
	font-size: 30px;
}

#divIndex{
	margin: 40px 0px;
}

/*#imgIndex img{
	width: 50px;
}*/

#procesos{
	text-align: center;
	background: #143a85;
	padding: 20px;
	margin: 10px;
	color: white;
	font-weight: bolder;
}

#ul-procesos{
	display: grid;
	grid-template-areas: "1 2";
	text-align: center;
	align-items: center;
	padding: 0;
	grid-gap: 10px;
	padding: 10px;
}

#ul-procesos a li{
	padding: 10px;
	border: 2px solid #143a85;
	border-radius: 10px;
	background: #3681bc;
}

#ul-procesos a{
	text-decoration: none;
	color: white;
	list-style-type: none;
}

@media only screen and (min-width: 900px){
	.contenedor{
		margin: 10px 40px;
	}

	#divIndex{
		display: flex;
		justify-content: space-around;
	}

	#icoIndex{
		display: flex;
		justify-content: space-around;
	}

	.icoIndex{
		margin: 20px;
		width: 500px;
		display: flex;
		height: 70px;
		text-decoration: none;
		gap:21px;
		align-items: center;
	}

	.icoIndex:hover{
		/*background: #3681bc;*/
		color: #143a85;
		border-bottom: 3px solid #143a85;
		transition: all .4s ease;
	}

	#ul-procesos{
		margin: 0px 30px;
	}

	.icoIndex i{
		font-size: 50px;
	}
}