*{
	margin: 0;
	padding: 0;
	font-family: 'Asap', sans-serif;
	box-sizing: content-box;
}

body{
	background: white;
}

/********************************************* HEADER ***************************************************/

.miniBannerItem{
	color: #cfcfcf;
	text-decoration: none;
	border-bottom: 2px solid #cfcfcf;
}

#divMiniBanner{
	color: #cfcfcf;
	display: flex;
	width: 250px;
	justify-content: space-around;
}

#miniBanner {
	padding: 3px;
	background: #505050;
	display: flex;
	justify-content: space-around;
}

#fecha{
	color: #cfcfcf;
}

header{
	height: 100px;
	padding: 10px;
}

#rif{
	color: #3681bc;
	margin: 10px;
}

#bannerPsm{
	height: 70px;
}

/************************************************ FIN HEADER **********************************************/

/*************************************************** NAV **************************************************/

nav{
	background: #c7d2e2;
}

nav ul{
	padding: 0;
}

nav ul a li{
	list-style-type: none;
	text-decoration: none;
	color: black;
	padding: 20px 0px;
	width: 100%;
	text-align: center;
	transition: all 0.3s ease;
}

nav ul a{
	text-decoration: none;
}

nav ul li:hover{
	background: #3681bc;
}


/************************************************ FIN NAV *************************************************/

/********************************************* FOOTER *****************************************************/

footer{
	padding: 30px;
	background: #143a85;
	color: white;
	text-align: center;
	align-items: center;
}

.titulosNaranja{
	color: #f06b05;
	margin: 30px;
	font-weight: bold;
}

#copyright img{
	width: 170px;
}

#copyright a{
	text-decoration: none;
	border-bottom: 2px solid white;
	color: white;
}

#universidades{
	text-align: center;
	margin: 50px 0px;
}

#contacto p{
	margin: 15px 0px;
}

#redes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#redes img{
	width: 30px;
	margin: 10px;
}

#redes a{
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 900px){
	nav ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	nav ul a{
		width: 100%;
	}

	header{
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}

	footer{
		display: flex;
		justify-content: space-around;
	}
}

