*{
	margin: 0;
	padding: 0;
	font-family: 'Asap', sans-serif;
}

body{
	background: white;
}

/********************************************* HEADER ***************************************************/

.miniBannerItem{
	color: #cfcfcf;
	text-decoration: none;
	border-bottom: 2px solid #cfcfcf;
}

#divMiniBanner{
	color: #cfcfcf;
	display: flex;
	width: 250px;
	justify-content: space-around;
}

#miniBanner {
	padding: 3px;
	background: #505050;
	display: flex;
	justify-content: space-around;
}

#fecha{
	color: #cfcfcf;
}

header{
	height: 100px;
	/*display: flex;*/
	padding: 10px;
	/*justify-content: space-around;
	align-items: flex-start;*/
}

#rif{
	color: #3681bc;
	margin: 10px;
}

#bannerPsm{
	height: 70px;
}

/************************************************ FIN HEADER **********************************************/

/*************************************************** NAV **************************************************/

nav{
	background: #c7d2e2;
}

nav ul a li{
	list-style-type: none;
	text-decoration: none;
	color: black;
	padding: 20px 0px;
	width: 100%;
	text-align: center;
	transition: all 0.3s ease;
}

nav ul a{
	text-decoration: none;
}

nav ul li:hover{
	background: #3681bc;
}

/************************************************ FIN NAV *************************************************/

#tituloCarreras{
	color: #f06b05;
	margin: 30px;
}

#carreras{
	display: grid;
	grid-column: 40% 40%;
	grid-row: 20% 20% 20% 20% 20%;
	grid-template-areas: "1";
	grid-gap: 20px;
	margin: 40px;
}

.carrera{
	display: grid;
	align-items: center;
	grid-template-areas: "imagen nombre"
						 "imagen descripcion";
	margin: 20px;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
}

.carrera p a{
	text-decoration: none;
	color: #3681bc;
}

.carrera p a:hover{
	text-decoration: none;
	color: #3681bc;
	border-bottom: 2px solid #3681bc;
}

.imagen{
	width: 90px;
	grid-area: imagen;
}

.nombre{
	grid-area: nombre;
}

.descripcion{
	grid-area: descripcion;
	text-align: justify;
}

/********************************************* FOOTER *****************************************************/

footer{
	padding: 30px;
	background: #143a85;
	color: white;
	text-align: center;
	align-items: center;
}

#copyright img{
	width: 170px;
}

#copyright a{
	text-decoration: none;
	border-bottom: 2px solid white;
	color: white;
}

#universidades{
	text-align: center;
	margin: 50px 0px;
}

#contacto p{
	margin: 15px 0px;
}

#redes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#redes img{
	width: 30px;
	margin: 10px;
}

#redes a{
	text-decoration: none;
	color: white;
}

@media only screen and (min-width: 900px){
	nav ul{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	nav ul a{
		width: 100%;
	}

	header{
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}

	footer{
		display: flex;
		justify-content: space-around;
	}

	#carreras{
		grid-template-areas: "1 2";
	}
}

.tituloDescripCarreras{
	display: flex;
	align-items: center;
}

.tituloDescripCarreras img{
	width: 90px;
	margin: 10px 20px;
}

.tituloDescripCarreras h2{
	color: #f06b05;
	font-weight: lighter;
}

.divCarreras{
	margin: 40px;
}

.pensum {
	text-decoration: none;
	color: #143a85;
	font-weight: bold;
	border-bottom: 2px solid #143a85;
}
